body {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}
.footer {
  display: flex;
  justify-content: center;
  height: 2rem;
  font-size: 15px;
  width: 100%;
  align-items: center;
  background: white;
}
